name: CI
on:
  push:
    branches:
      - main
  merge_group:
    types:
      - checks_requested

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint files
        run: yarn lint

      - name: Typecheck files
        run: yarn typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run unit tests
        run: yarn test --maxWorkers=2 --coverage

  build-library:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build package
        run: yarn prepare

  release:
      name: Release
      runs-on: ubuntu-latest
      # This job depends on the others, so it will only run if they all succeed
      needs: [lint, test, build-library]
      # This condition ensures the job only runs on pushes to release branches, NOT on pull requests
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      
      # Grant permissions to the GITHUB_TOKEN for semantic-release
      permissions:
        contents: write # To push releases and tags
        issues: write # To comment on issues and PRs
        pull-requests: write # To comment on issues and PRs

      steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            # This is important to allow semantic-release to push changes back
            persist-credentials: false

        - name: Setup Node.js
          uses: actions/setup-node@v4
          with:
            node-version: 'lts/*'
            cache: 'yarn' # or 'npm' if you use npm

        - name: Install dependencies
          run: yarn install --frozen-lockfile

        - name: Build the library
          # Build again in this job to ensure all artifacts are fresh before publishing
          run: yarn prepare

        - name: Configure npm for publishing
          run: |
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          env:
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

        - name: Release
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          run: npx semantic-release
